<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is a test page</title>
</head>
<body>
    Welcom to my website guys Mai website banane wali hu
    bebsites wale babuuuuu

    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere, culpa?
    </p>

    <p>Variable value is : {{variable}}</p>
    <p>The sekond bariable value is : {{var2}}</p>
</body>
</html>